{% load static %}
<div class="footer">
    <div class="container rounded">
        <div class="row">
            <div class="col-6">
                <p id="about" class="text-justify">به شاپ یک فروشگاه اینرنتی است که در سال 1396 تاسیس گردیده است.
                    این
                    فروشگاه با دارابودن انبارهای متعدد و سیستم توزیع هوشمند و یکپارچه، توانسته است به یکی از
                    بزرگترین
                    فروشگاه های ایران تبدیل شود. سرمایه اصلی به شاپ، اعتماد مردم، تعهد کارکنان و اصالت و سلامت
                    کالاها
                    است.</p>
            </div>
            <div class="col-6 row features">
                <div class="col-4 text-center">
                    <i class="fa fa-truck mt-4"></i><br>
                    <span>شبکه توزیع هوشمند و یکپارچه</span>
                </div>
                <div class="col-4 text-center">
                    <i class="fas fa-headset mt-4"></i><br>
                    <span>پشتیبانی ۲۴ ساعته</span>
                </div>
                <div class="col-4 text-center">
                    <i class="fas fa-credit-card mt-4"></i><br>
                    <span>پرداخت در محل با کارت بانکی</span>
                </div>
            </div>
        </div>
        <hr>
        <div class="row pb-3">
            <div id="contact-info" class="col-6 text-right">
                <p>دفتر مرکزی (تبریز) : ایران - آذربایجان شرقی - تبریز - بلوار 29 بهمن - جنب دانشگاه تبریز</p>
                <p>دفتر مرکزی (تهران) : ایران - تهران - شهرک قدس (غرب) - خیابان ایران‌زمین - جنب فرهنگسرای ابن‌سینا
                </p>
                <p>تلفن : 9-3334015-041</p>
                <p>دورنگار : 0413334257</p>
                <p>behshop@gmail.com : آدرس ایمیل</p>
                <p>کد پستی : 5134927819</p>
            </div>
            <iframe class="col-6 rounded"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1570.7588677587657!2d46.33994007870841!3d38.058322093802985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x401a1af5b6feb2e7%3A0xf1ab2f0371f35ae4!2sUniversity%20of%20Tabriz!5e0!3m2!1sen!2s!4v1609838566992!5m2!1sen!2s"
                width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>
        <div class="row text-right">
            <div class="col-6">
                <div class="send-notif col-12">
                    <span>آگاهی از جدیدترین محصولات و تخفیف ها با عضویت در خبرنامه به شاپ</span>
                    <div class="input-group mt-4 w-75">
                        <input type="text" class="form-control" placeholder="ایمیل خود را وارد نمایید"
                            aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-success" type="button">ارسال</button>
                        </div>
                    </div>
                </div><br>
                <div id="social-media" class="col-12">
                    <p>به شاپ را در شبکه های اجتماعی دنبال کنید</p>
                    <div id="social-media-icons" class="col-8 row justify-content-between">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-youtube"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                    </div>
                </div>
            </div>

            <div id="secure-payment" class="col-6">
                <p>اطمینان از خرید</p>
                <div id="secure-payment-images" class="row justify-content-center">
                    <img class="col-4" src="{% static 'static/images/logo.png' %}" alt="">
                    <img class="col-4" src="{% static 'static/images/logo (1).png' %}" alt="">
                    <img class="col-4" src="{% static 'static/images/1e5dab5a.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="rights-reserved text-center mt-2">
        <small>کلیه حقوق مادی و معنوی این وبسایت متعلق به فروشگاه اینترنتی به شاپ می باشد. هرگونه استفاده از مطالب
            این وبسایت بدون ذکر منبع ممنوع بوده و متخلفان تحت پیگرد قانونی قرار خواهند گرفت.</small>
    </div>
</div>