{% load static %}
<div id="stripe" class="text-center">
    تخفیف های شگفت انگیز فصل زمستان از راه رسید
</div>
<nav class="navbar navbar-light header">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'static/images/logonomy-1609947608908-removebg-preview.png' %}" alt=""></a>
        <div class="input-group w-50">
            <form action="{% url 'search' %}" class="w-100 row">
                <input type="search" class="form-control rounded col-10" name="search" placeholder="جستجو در به شاپ  ..." aria-label="Search"
                aria-describedby="basic-addon2">
                <button class="btn btn-outline-warning me-2 ol-2" type="submit">جستجو</button>
            </form>
        </div>
        <div class="ml-5 row">
            {% if request.user.is_authenticated %}
            <div class="dropdown show col-8">
                <span class="btn dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user"></i>
                  <small>{{user.get_full_name}}</small>
                </span>
                <div class="dropdown-menu text-right" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item border-bottom" href="{% url 'profile' user.id %}">پروفایل من</a>
                  <a class="dropdown-item" href="{% url 'logout' %}">خروج</a>
                </div>
              </div>
              <a href="{% url 'cart' user.id %}" class="col-3 py-2"><i class="fa fa-shopping-cart"></i></a>
            {% else %}
            <a href="{% url 'login' %}" class="py-2">
                <i class="fa fa-user"></i>
                <span>ورود / ثبت نام</span>
            </a>
            {% endif %}
        </div>
    </div>
</nav>
<div id="menu" class="text-center">
    <ul class="list-group list-group-horizontal w-75 mx-auto">
        <li class="list-group-item w-25"><a href="#">دسته بندی ها</a></li>
        <li class="list-group-item w-25"><a href="#">پر فروش ها</a></li>
        <li class="list-group-item w-25"><a href="#">پر بازدید ها</a></li>
        <li class="list-group-item w-25"><a href="#">فروشندگان</a></li>
        <li class="list-group-item w-25"><a href="#">سوالات متداول</a></li>
    </ul>
</div>