{% extends 'base/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'static/css/category-products.css' %}">
{% endblock %}
{% block title %}
{{ product_list.0.category }}
{% endblock %}
{% block body %}
<div class="row">
    <div class="sidebar col-3 my-4 mx-3">
        <div class="rounded bg-light mb-3">
            <span class="sidebar-titles">دسته بندی محصولات</span>
            <p class="sidebar-content">{{product_list.0.category}}</p>
        </div>
        <div class="rounded bg-light mb-3">
            <span class="sidebar-titles">جستجوی محصول</span>
            <div class="sidebar-content sidebar-search">
                <input type="search" name="search-product" class="w-75" id="search-product" placeholder="نام محصول یا برند موردنظر را وارد نمایید">
            </div>
        </div>
        <div class="rounded bg-light">
            <span class="sidebar-titles">برند محصول</span>
            <div class="sidebar-content">
                <ul class="filters px-1">
                {% for brand in brands %}
                <li>
                    <input type="checkbox" id="{{brand}}" value="{{brand}}">
                    <label for="{{brand}}">{{brand}}</label><br>
                </li>
                {% endfor %}
                </ul>
                
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 my-4 mx-auto bg-light products-container">
            {% for product in product_list %}
            <div class="col {{product.brand}}" id="{{product.name}}">
                <a href="{% url 'product_single' product.slug %}">
                    <div class="card h-100 text-center border-top-0 border-bottom-0 border-left-0 rounded-0">
                        <img src="{{product.image.url}}" class="card-img-top mx-auto mt-1" alt="{{product.name}}">
                        <div class="card-body">
                            <h5 class="card-title">{{product.name}}</h5>
                            <p class="card-text">{{product.shop_product.all.first.price}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    {% endblock %}

    {% block javascript %}
    <script>

        $(".filters :checkbox").click(function() {
            $(".products-container > div").hide();
            $(".filters :checkbox:checked").each(function() {
                $("." + $(this).val()).show();
            });
        });



        $(document).ready(function(){
            $("#search-product").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                console.log(value)
                $(".products-container > div").filter(function() {
                    display = false
                    if ($(this).attr('class').includes(value) || $(this).attr('id').includes(value)){
                        display = true
                    }
                    $(this).toggle(display)
            });
        });
        });

    </script>
    {% endblock %}